{% if user %}
Привет, я ботик, который награждает призами
Празднуем день программиста...
Внизу кнопки, думаю, разберёшься :)

У нас очень много вопросов
И очень много призов!
Удачи!

- Прогресс -
Очки: {{ user.pts }} #TODO
Позиция: {{ user.position }} #TODO
Кол-во правильных ответов: {{ user.number_of_answered }} #TODO
Кол-во неверных ответов: {{ user.number_of_incorrect_answers}} #TODO
{% else %}
    <b>
Привет! Ты еще не зарегистрировался, пройди регистрацию, чтобы начать.
Давай знакомиться. Я - Бот, проводящий день программиста в МАИ. А ты?
Введи юзернейм, который будет отражаться в твоем профиле и в таблице лидеров
    </b>
{% endif %}